__history/Controller.Interfaces.pas.~1~
__history/Controller.Interfaces.pas.~2~
__history/Controller.Item.pas.~1~
__history/Controller.Item.pas.~2~
__history/Controller.Vendas.pas.~1~
__history/Controller.Vendas.pas.~2~
__history/Controller.Vendas.pas.~3~
__history/JonathanPedrosoTeste.dpr.~1~
__history/JonathanPedrosoTeste.dpr.~2~
__history/JonathanPedrosoTeste.dproj.local.~1~
__history/uClasseVenda.pas.~1~
__history/uClasseVenda.pas.~2~
Controller/__history/ControllerConexao.pas.~1~
Controller/__history/ControllerConexao.pas.~2~
Controller/__history/uControllerCliente.pas.~1~
Controller/__history/uControllerCliente.pas.~2~
Controller/__history/uControllerConexao.pas.~1~
Controller/__history/uControllerConexao.pas.~2~
Controller/__history/uControllerConexao.pas.~3~
Controller/__history/uControllerProduto.pas.~1~
Controller/__history/uControllerProduto.pas.~2~
Controller/__history/uControllerProduto.pas.~3~
Controller/__history/uControllerProduto.pas.~4~
Controller/__history/uControllerProduto.pas.~5~
Controller/__history/uControllerProduto.pas.~6~
Controller/__history/uControllerProduto.pas.~7~
Controller/__history/uControllerVenda.pas.~1~
Controller/__history/uControllerVenda.pas.~2~
Controller/__history/uControllerVenda.pas.~3~
Controller/__history/uControllerVenda.pas.~4~
Controller/__history/uControllerVenda.pas.~5~
Controller/__history/uControllerVenda.pas.~6~
DAO/__history/uDAOCliente.pas.~1~
DAO/__history/uDAOConexao.pas.~44~
DAO/__history/uDAOConexao.pas.~45~
DAO/__history/uDAOConexao.pas.~46~
DAO/__history/uDAOConexao.pas.~47~
DAO/__history/uDAOConexao.pas.~48~
DAO/__history/uDAOConexao.pas.~49~
DAO/__history/uDAOConexao.pas.~50~
DAO/__history/uDAOConexao.pas.~51~
DAO/__history/uDAOConexao.pas.~52~
DAO/__history/uDAOConexao.pas.~53~
DAO/__history/uDAOProduto.pas.~1~
DAO/__history/uDAOProduto.pas.~2~
DAO/__history/uDAOVenda.pas.~3~
DAO/__history/uDAOVenda.pas.~4~
DAO/__history/uDAOVenda.pas.~5~
DAO/__history/uDAOVenda.pas.~6~
DAO/__history/uDAOVenda.pas.~7~
DAO/__history/uDAOVenda.pas.~8~
DAO/__history/uDAOVenda.pas.~9~
DAO/__history/uDAOVenda.pas.~10~
DAO/__history/uDAOVenda.pas.~11~
DAO/__history/uDAOVenda.pas.~12~
Model/__history/uModelProduto.pas.~1~
Model/__history/uModelProduto.pas.~2~
Model/__history/uModelProduto.pas.~3~
Model/__history/uModelProduto.pas.~4~
Model/__history/uModelProduto.pas.~5~
Model/__history/uModelProduto.pas.~6~
Model/__history/uModelVenda.pas.~1~
Model/__history/uModelVenda.pas.~2~
Model/__history/uModelVenda.pas.~3~
Model/__history/uModelVenda.pas.~4~
Model/__history/uModelVenda.pas.~5~
View/__history/uViewVendas.dfm.~7~
View/__history/uViewVendas.dfm.~8~
View/__history/uViewVendas.dfm.~9~
View/__history/uViewVendas.dfm.~10~
View/__history/uViewVendas.dfm.~11~
View/__history/uViewVendas.dfm.~12~
View/__history/uViewVendas.dfm.~13~
View/__history/uViewVendas.dfm.~14~
View/__history/uViewVendas.dfm.~15~
View/__history/uViewVendas.dfm.~16~
View/__history/uViewVendas.pas.~16~
View/__history/uViewVendas.pas.~17~
View/__history/uViewVendas.pas.~18~
View/__history/uViewVendas.pas.~19~
View/__history/uViewVendas.pas.~20~
View/__history/uViewVendas.pas.~21~
View/__history/uViewVendas.pas.~22~
View/__history/uViewVendas.pas.~23~
View/__history/uViewVendas.pas.~24~
View/__history/uViewVendas.pas.~25~
View/__history/ViewVendas.dfm.~1~
View/__history/ViewVendas.dfm.~2~
View/__history/ViewVendas.dfm.~3~
View/__history/ViewVendas.dfm.~4~
View/__history/ViewVendas.pas.~1~
View/__history/ViewVendas.pas.~2~
View/__history/ViewVendas.pas.~3~
View/__history/ViewVendas.pas.~4~
View/__history/ViewVendas.pas.~5~
View/__history/ViewVendas.pas.~6~
View/__history/ViewVendas.pas.~7~
View/__history/ViewVendas.pas.~8~
View/__history/ViewVendas.pas.~9~
