Win64/Debug*
__history/*
Controller/__history/*
DAO/__history/*
Model/__history/*
View/__history/*
JonathanPedrosoTeste.exe
JonathanPedrosoTeste.res
JonathanPedrosoTeste.rsm
JonathanPedrosoTeste.dproj.local
JonathanPedrosoTeste.dproj.local
JonathanPedrosoTeste.identcache
JonathanPedrosoTeste.dproj.local
